.btn {
    font-family: 'Open Sans', sans-serif;
    background: lightgray;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;
    outline: none;
    background: #9900CC;
    cursor: pointer;
}

.btnIcon {
    margin-right: 16px;
    display: inline;
}

.divEditor {

    border: 1px solid #1375fa;
    background-color: #1375fa;
    color: #fff;
    max-width: 220px;
    cursor: pointer;
    height: auto;
    line-height: 40px;
    border-radius: 4px;
    font-family: 'Helvetica-Bold';
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.spanEditor {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: 'Helvetica-Light';
    padding: 0 20px;
    font-size: 14px;
}

.iEditor {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
}