@import './custom-bootstrap.scss';


.ck .ck-button__label {
  font-size: 15px !important;
}

.announce {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.announce .text {
  text-align: center;
  word-break: break-word;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  all: unset !important;
}

:root {
  all: unset;
}

html {
  height: 100% !important;
}
body {
  min-height: 100% !important;
  #__next {
      height: 100% !important;
    }
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
  background: none;
}

.react-grid-item > .react-resizable-handle::after {
  content: '';
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 6px;
  height: 6px;
  border-right: 2px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

* {
  text-decoration: none !important;
}

/* .card:hover {
  transform: scale(1.1); 
  transition: 150ms ease-in-out;
} */

a {
  text-decoration: none;
  color: #4f4f4f;
}


::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

